<template>
<div class="countdown">

<div class="container">
  <div class="row">

    <div class="col-md-12 text-center">
      <div class="introduction">
        <p>
          Ryan has been allocated to Cargill. These are important dates.
        </p>
      </div>
    </div>

    <div class="departs" v-if="getDifferenceInDays(startDate) > 0">
      <div class="col-md-12 text-center">
        <h1>Days Until Ryan Departs</h1>
        <h2><span class="pulse">{{ getDifferenceInDays(startDate) }}</span> days until <strong>{{ getNiceDateDisplay(startDate) }}</strong></h2>
      </div>
    </div>
    <div class="departed" v-else>
      <div class="col-md-12 text-center">
        <h1>Days Since Ryan Departed</h1>
        <h2><span class="pulse">{{ getDifferenceInDays(startDate, true) }}</span> days since <strong>{{ getNiceDateDisplay(startDate) }}</strong></h2>
      </div>
    </div>

    <div class="col-md-12">
      <hr class="fancy">
    </div>

    <div class="possible-returns">
      <div class="col-md-12 text-center">
        <h1>Days Until Ryan Returns Potentially</h1>
        <div v-for="end in endDates">
          <h2><span class="pulse">{{ getDifferenceInDays(end) }}</span> days until <strong>{{ getNiceDateDisplay(end) }}</strong></h2>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
</template>

<script>
import moment from 'moment';

export default {
  name: 'countdown',
  methods: {
    getDifferenceInDays(end, abs = false) {
      let days = moment(end).diff(this.start, 'days');
      return abs ? Math.abs(days) : days;
    },
    getNiceDateDisplay(date) {
      return moment(date).format('dddd, MMMM Do');
    }
  },
  data() {
    return {
      startDate: '2017-01-30', // january 30
      endDates: ['2017-03-27', '2017-05-01'] // march 27, may 1
    };
  }


}
</script>

<style>
  .introduction {
    margin: 3rem;
    font-size: 3rem;
  }
  hr.fancy {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .pulse {
    animation: colorChange 3s infinite alternate;
  }
  @keyframes colorChange {
    from { color: #ff0000; }
    to { color: #000000; }
  }
</style>
