<template>
  <div id="app">
    <countdown></countdown>
  </div>
</template>

<script>
import Countdown from './components/Countdown'

export default {
  name: 'app',
  components: {
    Countdown
  }
}
</script>

<style>
</style>
